body {
    padding: 0;
    margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(255, 166, 0, 0.877);
}

.logo {
  width: 20vh;
  height: 20vh;
  
  animation-duration: 3s;
  animation-name: roll;
  animation-iteration-count: infinite;
}

@keyframes roll {
    to {
        transform: rotate(360deg);
        transition-timing-function: ease;
    }

    50% {

    }
}