.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.151);
}

.logo {
  width: 50vh;
  height: 50vh;
  animation-duration: 3s;
  animation-name: roll;
  animation-iteration-count: infinite;
}

@keyframes roll {
    from {

    }

    to {
        transform: rotate(360deg);
    }
}